{
        "pagerduty": {
                "api_key": "{{ 'AQICAHjMg9iwniHllffti4r1lDLfdtt+PfnebDAbSp1sp1NS0wFkweh+I8NOZ1smabz2rxMJAAAAfjB8BgkqhkiG9w0BBwagbzBtAgEAMGgGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMReCm/y+mg6kBcfimAgEQgDsPNehhzoGnTDS7bDpuyxGSpBjeFd4v9xdvq6CUKlgopFTciwHsgvdZhKwRam8TgIGyTfgMAVyvRypzJg==' | kms_decrypt }}"
        }
}
